{% extends 'base.html.twig' %}

{% block title %}Les recettes de Marinette{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="bg-light p-5 rounded-lg m-3">
            <h1 class="display-4">Bienvenue sur Les recettes de Marinette</h1>
            <p class="lead">Les recettes de Marinette est une application web qui va vous permettre de consulter mes recettes, mais également de créer les vôtres, que vous pourrez partager ou garder en privé</p>
            <hr class="my-4">
            <p>Pour commencer à utiliser l'application, rendez-vous sur la page d'inscription pour vous inscrire</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </div>
    </div>
{% endblock %}
